html {
    box-sizing: border-box;
}

.full-size {
    height: 100%;
}

.Error {
    align-content: center;
    background-color: red;
    bottom: 0;
    left: 50%;
    margin: 0 20px 0 20px;
    padding: 10px;
    position: fixed;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}